/*-- Fonts --*/

@import url('https://fonts.googleapis.com/css?family=Boogaloo');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/*-- Special Styles --*/

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    
}

#wrapper {
    min-height: 100%;
    width: 100%;
    position: relative;
    background: url('/static/img/fruit-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#content {
    padding-bottom: 60px;
}


.content-box {
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: #ff6d00;
}

.heading {
    font-family: 'Boogaloo', cursive;
    color: #fafafa;
    padding-top: 15px;
    font-size: 50px;
}

/*-- Header Styles --*/

.nav-link {
    font-family: 'Oswald', sans-serif;
}

.link-icon {
    padding-left: 5px;
    padding-right: 5px;
}

/*-- Index Styles --*/

.username-input {
    display: block;
    margin : 0 auto;
    padding-top: 15px;
    padding-bottom: 20px;
}

.statement {
    padding-top: 15px;
    margin-bottom: -10px;
    font-family: 'Boogaloo', cursive;
    color: #fafafa;
    font-size: 50px;
}

.enter {
    padding-top: 15px;
    margin-bottom: -10px;
    font-family: 'Boogaloo', cursive;
    color: #fafafa;
    font-size: 40px;
}

.start {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Boogaloo', cursive;
}

.instructions {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #fafafa;
    padding-top:5px;
    padding-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
}

/*-- Quiz Styles --*/

.quiz-content {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}

.question-score {
    font-family: 'Oswald', sans-serif;
    color: #fafafa;
}

.question-id {
    font-size: 30px;
}

.fruit-image {
    width: auto;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quiz-buttons {
    padding-top: 20px;
}

#submit {
    background-color: #2e7d32;
    color: #fafafa;
    margin: 5px;
}

#skip {
    background-color: #d50000;
    color: #fafafa;
    margin: 5px;
}

#restart {
    background-color: #01579b;
    color: #fafafa;
    margin: 5px;
}

.button-icon {
    color: #fafafa;
    margin-left: 10px;
    margin-top: 5px;
}

.guesses-box {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ff6d00;
}

.guesses-list {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #fafafa;
    list-style-type: none;
    margin-right: 40px;
    padding-bottom: 20px;
}

.guesses-list li {
    display: inline-block;
}

/*-- Highscores Styles --*/

.sentence {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #fafafa;
}

.table-headings {
    font-size: 20px;
}

table {
    font-family: 'Oswald', sans-serif;
    color: #fafafa;
}

.play-again {
    margin-bottom: 15px;
}

.play-again:hover {
    text-decoration: none;
    color: #fafafa;
}

/*-- Footer Styles --*/

#footer {
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.github {
    margin-left: 10px;
    color: #fafafa;
}

#copyright {
    color: #fafafa;
    margin-top: 14px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

/*-- Media Queries --*/

/* Tablets, Ipads (portrait) */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    nav {
        min-height: 100px !important;
    }
    
    footer {
        min-height: 100px !important;
    }
    
    #copyright {
        margin-top: 33px;
        font-size: 23px;
    }
    
    #content {
        padding-bottom: 90px;
    }
    
    .statement {
        font-size: 30px;
    }
    .enter {
        font-size: 30px;
    }
    
    .instructions {
        font-size: 20px;
        margin-top: 10px;
    }
    
    .heading {
        padding-top: 15px;
        font-size: 30px;
    }
    
    .sentence {
        font-size: 20px;
    }
    
    .guesses-box {
        margin-bottom: 70px;
    }

}

/* Tablets, Ipads (landscape) */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .statement {
        font-size: 30px;
    }
    .enter {
        font-size: 30px;
    }
    
    .instructions {
        font-size: 20px;
        margin-top: 10px;
    }
    
    .heading {
        padding-top: 15px;
        font-size: 30px;
    }
    
    .sentence {
        font-size: 20px;
    }
}

/* Low Resolution Tablets, Mobiles (Landscape) */

@media (min-width: 481px) and (max-width: 767px) {
    .statement {
        font-size: 30px;
    }
    
    .enter {
        font-size: 30px;
    }
    
    .instructions {
        font-size: 20px;
        margin-top: 10px;
    }
    
    .heading {
        padding-top: 15px;
        font-size: 30px;
    }
    
    .sentence {
        font-size: 20px;
    }
}

/* Most of the Smartphones Mobiles (Portrait) */

@media (min-width: 320px) and (max-width: 480px) {
    .statement {
        font-size: 30px;
    }
    
    .enter {
        font-size: 30px;
    }
    
    .instructions {
        font-size: 20px;
        margin-top: 10px;
    }
    
    .heading {
        padding-top: 15px;
        font-size: 30px;
    }
    
    .sentence {
        font-size: 20px;
    }

}

@media only screen and (device-width : 375px) and (device-height : 812px) and (orientation : landscape) {
    .myfooter {
        margin-top: 50px;
    }
}
    