/*-- Fonts --*/

@import url('https://fonts.googleapis.com/css?family=Boogaloo');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/*-- Special Styles --*/

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    
}

#wrapper {
    min-height: 100%;
    width: 100%;
    position: relative;
    background: url('/static/img/fruit-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#content {
    padding-bottom: 60px;
}


.content-box {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ff6d00;
}

.heading {
    font-family: 'Boogaloo', cursive;
    color: #fafafa;
    padding-top: 15px;
}

/*-- Header Styles --*/

.nav-link {
    font-family: 'Oswald', sans-serif;
}

.link-icon {
    padding-left: 5px;
    padding-right: 5px;
}

/*-- Index Styles --*/

.username-input {
    display: block;
    margin : 0 auto;
    padding-top: 15px;
    padding-bottom: 20px;
}

.statement {
    padding-top: 15px;
    margin-bottom: -10px;
    font-family: 'Boogaloo', cursive;
    color: #fafafa;
}

.start {
    margin-top: 20px;
    margin-bottom: 20px;
}

.instructions {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #fafafa;
    padding-top:5px;
    padding-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
}

/*-- Quiz Styles --*/

.quiz-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.question-score {
    font-family: 'Oswald', sans-serif;
    color: #fafafa;
}

.question-id {
    font-size: 30px;
}

.fruit-image {
    width: auto;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quiz-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    
}

#submit {
    margin-left: 5px;
    margin-right: 15px;
    background-color: #2e7d32;
    color: #fafafa;
}

#skip {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #d50000;
    color: #fafafa;
}

#restart {
    margin-left: 15px;
    margin-right: 5px;
    background-color: #01579b;
    color: #fafafa;
}

.button-icon {
    color: #fafafa;
    margin-left: 10px;
    margin-top: 5px;
}

.guesses-box {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ff6d00;
}

.guesses-list {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #fafafa;
    list-style-type: none;
    margin-right: 40px;
    padding-bottom: 20px;
}

.guesses-list li {
    display: inline-block;
}

/*-- Highscores Styles --*/

/*-- Footer Styles --*/

#footer {
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.github {
    margin-left: 10px;
    color: #fafafa;
}

#copyright {
    color: #fafafa;
    margin-top: 14px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

/*-- Media Queries --*/