/*-- Fonts --*/

@import url('https://fonts.googleapis.com/css?family=Boogaloo');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/*-- Special Styles --*/

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    
}

#wrapper {
    min-height: 100%;
    width: 100%;
    position: relative;
    background: url('/static/img/fruit-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#content {
    padding-bottom: 60px;
}


.content-box {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ff6d00;
}

/*-- Header Styles --*/

.nav-link {
    font-family: 'Oswald', sans-serif;
}

.link-icon {
    padding-left: 5px;
    padding-right: 5px;
}

/*-- Index Styles --*/

.username-input {
    display: block;
    margin : 0 auto;
    padding-top: 15px;
    padding-bottom: 20px;
}

.statement {
    padding-top: 15px;
    margin-bottom: -10px;
    font-family: 'Boogaloo', cursive;
    color: #fafafa;
}

.start {
    margin-top: 20px;
    margin-bottom: 20px;
}

.instructions {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #fafafa;
    padding-top:5px;
    padding-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
}

/*-- Quiz Styles --*/

/*-- Highscores Styles --*/

/*-- Footer Styles --*/

#footer {
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.github {
    margin-left: 10px;
    color: #fafafa;
}

#copyright {
    color: #fafafa;
    margin-top: 14px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

/*-- Media Queries --*/