/*-- Fonts --*/

@import url('https://fonts.googleapis.com/css?family=Boogaloo');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/*-- Special Styles --*/

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    
}

#wrapper {
    min-height: 100%;
    width: 100%;
    position: relative;
    background: url('/static/img/fruit-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*-- Header Styles --*/

.nav-link {
    font-family: 'Oswald', sans-serif;
}

.link-icon {
    padding-left: 5px;
    padding-right: 5px;
}

/*-- Index Styles --*/

/*-- Quiz Styles --*/

/*-- Highscores Styles --*/

/*-- Footer Styles --*/

/*-- Media Queries --*/