{% extends 'base.html' %}
{% block content %}

    <!-- Main Quiz Content -->
    <div class="container-fluid content-box">
        <div class="row quiz-content col-12">
            <!-- Exotic Fruit Image -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img src="{{ quiz_data[question_id]['image'] }}" alt="Picture of exotic fruit" class="img-fluid fruit-image"/>
            </div>
            <!-- Question & Answer -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <!-- Question -->
                <h2 class="text-center heading">Hello <span>{{username}}</span>!<br>Can you name this exotic fruit?</h2>
                <div class="justify-content-center question-score">
                    <p class="text-center question-id">{{question_id + 1}}/ <span>15</span></p>
                    <p class="text-center">Score: <span>{{score}}</span></p>
                </div>
                <!-- Answer Form -->
                <div class="row justify-content-center">
                    <form method="POST" class="text-center">
                        <input type="hidden" name="question_id" value="{{question_id}}">
                        <input type="hidden" name="score" value="{{score}}">
                        <input class="form-control  text-center" type="text" id="answer" name="answer" placeholder="Enter your guess here..." autofocus autocomplete="off"></input>
                        <button class="btn hvr-grow" id="submit" name="button" value="submit">Submit<i class="fa fa-laugh button-icon"></i></button>
                        <button class="btn hvr-grow" id="skip" name="button" value="skip">Skip<i class="fa fa-sad-cry button-icon"></i></button>
                        <button class="btn hvr-grow" id="restart" name="button" value="restart">Restart Quiz<i class="fa fa-dizzy button-icon"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Incorrect Guesses -->
    <div class="container guesses-box col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <h2 class="text-center statement">Incorrect Guesses</h2>
        <hr>
        <ul class="guesses-list justify-content-center text-center">
            {% for guess in guesses %}
            <li>{{guess}}/</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}