{% extends 'base.html' %}
{% block content %}

<div class="container content-box">
    <div class="row username-input">
        <div class="col-lg-12 col-md-12 col-sm-10 col-xs-10 text-center statement">
            <h1 class="text-center">See if you can guess all of these exotic fruits! </h1>
            <h4>Enter a username to start:</h4>
            <form method="POST" class="form-inline justify-content-center">
                <input class="form-control col-6" type="text" id="username" name="username" placeholder="Enter Username" autofocus required autocomplete="off"></input>
                <button class="btn btn-success start hvr-buzz-out">Let's go!</button>
            </form>
        </div>
    </div>
</div>

<div class="container content-box">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-10 col-xs-10 text-center">
            <h1 class="statement text-center">Instructions</h1>
            <p class="instructions">You will be faced with 15 images of exotic fruits - your task is to try and guess the correct name
                for each fruit. For every correct answer, you will receive 5 points and move onto the next one. However, if your guess is incorrect
                you will lose 5 points and your incorrect guess will be displayed below the quiz. If you choose to skip an image, you will move onto
                the next one however you will lose 2 points. Once you have completed all 15 images, you will be taken to the leaderboard to see if your
                score made it into the Top 10. Have fun!
            </p>
        </div>
    </div>
</div>

{% endblock %}