{% extends 'base.html' %}
{% block content %}

<div class="container content-box">
    <div class="row username-input">
        <div class="col-lg-12 col-md-12 col-sm-10 col-xs-10 text-center statement">
            <h1 class="text-center">See if you can guess all of these exotic fruits! </h1>
            <h4>Enter a username to start:</h4>
            <form method="POST" class="form-inline justify-content-center">
                <input class="form-control col-6" type="text" id="username" name="username" placeholder="Enter Username" autofocus required autocomplete="off"></input>
                <button class="btn btn-success start hvr-buzz-out">Let's go!</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}